<%
  no_cache
  breadcrumb Happening.model_name.human(count: 2) => nil

  names_array = params[:activity_names]
  names_array = names_array.values if names_array.respond_to? :values
%>

<% @datatable.activities.each do |activity| %>
  <span class='show-on-hover'>
    <span class='badge badge-secondary pl-4'>
      <%= activity.name %>
      <% remove_path = index_for_location_and_activities_happenings_path(params.merge(activity_names: (names_array || []) - [activity.name])) %>
      <%= link_to remove_path do %>
        <i class='demo-icon icon-cancel show-on-hover-target btn-danger' title='<%= t_crud('drop', Activity) %>'></i>
      <% end %>
    </span>
  </span>
<% end %>
<div class='dropdown d-inline'>
  <a class='btn btn-se dropdown-toggle' href='#' role='button' id='dropdownAddActivity' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
    <%= t('select_item_name', item_name: Activity.model_name.human(count: 2)) %>
  </a>
  <div class='dropdown-menu' aria-labelledby='dropdownAddActivity'>
    <% Activity.i18n.where.not(name: names_array).each do |activity| %>
      <% add_path = index_for_location_and_activities_happenings_path(params.except(:controller, :action, :commit).merge(activity_names: (names_array || []) + [activity.name])) %>
      <% add_related_path = index_for_location_and_activities_happenings_path(params.except(:controller, :action, :commit).merge(activity_names: (names_array || []) + activity.self_and_used_in_activities.map(&:name))) %>
      <% if activity.self_and_used_in_activities.length > 1 %>
        <div class='dropdown-item'>
          <%= link_to activity.name, add_path, class: 'dropdown-item--inline' %>
          <%= link_to '∈', add_related_path, class: 'btn btn-small btn-info dropdown-item--inline', title: t('activity_name_and_used_in_activities_name', activity_name: activity.name, activities_name: activity.self_and_used_in_activities.map(&:name).to_sentence) %>
        </div>
      <% else %>
        <%= link_to activity.name, add_path, class:'dropdown-item' %>
      <% end %>
    <% end %>
  </div>
</div>

<%= @datatable.render_html search_for_location_and_activities_happenings_path(activity_names: names_array, format: :json) %>
