<%
  breadcrumb Happening.model_name.human(count: 2) => happenings_path(search_happenings: { activity_id: '' }), @happening.name => nil
%>
<% if Const.common[:show_ads] %>
  <div class='card bg-light mb-2'>
    <div class='card-body'>
      <h2><%= t('ad_on_top') %></h2>
      <p>
        <%= t('ad_on_top_description') %>
        <%= link_to t('get_in_touch'), contact_path %>
      </p>
    </div>
  </div>
<% end %>
<div class='card'>
  <div class='card-body'>
    <div class='row'>
      <div class='col'>
        <%= detail_view_list @happening, *(Happening::FIELDS - %i[end_date recurrence]), skip_blank: :all %>
        <%= detail_view_list do %>
          <% if @happening.end_date != @happening.start_date %>
            <%= detail_view_one Happening.human_attribute_name(:end_date), @happening.end_date %>
          <% end %>
          <%= detail_view_one Happening.human_attribute_name(:recurrence), @happening.recurrence.to_s %>
        <% end %>
        <h4><%= Discipline.model_name.human(count: @happening.discipline_happenings.size) %></h4>
        <% @happening.discipline_happenings.each do |discipline_happening| %>
          <%= discipline_happening.start_time.to_s :short %>
          <%= discipline_happening.full_name %>
          <br>
          <% discipline_happening.discipline_happening_tags.each do |discipline_happening_tag| %>
            <span class='badge badge-primary'><%= discipline_happening_tag.tag.name %></span>
          <% end %>
        <% end %>
        <%= link_to @happening.club.name, club_path(@happening.club) %>
      </div>
      <div class='col'>
        <%= link_to @happening.venue.name, admin_venue_path(@happening.venue) %>
        <div class='map map--300px'
             data-controller='google-map'
             data-google-map-latitude='<%= @happening.venue.latitude %>'
             data-google-map-longitude='<%= @happening.venue.longitude %>'
             data-action='google-map-callback@window->google-map#initMap'
             >
        </div>
      </div>
    </div>
  </div>
</div>
<% if Const.common[:show_ads] %>
  <div class='card bg-light mt-2'>
    <div class='card-body'>
      <h2><%= t('ad_on_bottom') %></h2>
      <p>
        <%= t('ad_on_bottom_description') %>
        <%= link_to t('get_in_touch'), contact_path %>
      </p>
    </div>
  </div>
<% end %>
