<%
  breadcrumb Club.model_name.human(count: 2) => admin_clubs_path, @club.name => nil
%>
<div class='card'>
  <div class='card-body'>
    <%= button_tag_open_modal edit_admin_club_path(@club), title: t_crud('edit', Club), pull_right: true %>
    <div class='row'>
      <div class='col'>
        <%= detail_view_list @club, *Club::FIELDS %>
      </div>
      <div class='col'>
        <%= link_to @club.venue.name, admin_venue_path(@club.venue) %>
        <div class='map map--50percent'
             data-controller='google-map'
             data-google-map-latitude='<%= @club.venue.latitude %>'
             data-google-map-longitude='<%= @club.venue.longitude %>'
             data-action='google-map-callback@window->google-map#initMap'
             >
        </div>
      </div>
    </div>
    <%= button_tag_open_modal new_admin_club_activity_club_path(@club) do %>
      <i class="demo-icon icon-plus" aria-hidden="true"></i>
      <%= t_crud('add_new', ActivityClub) %>
    <% end %>
    <div class='card-deck'>
      <% @club.activity_clubs.each do |activity_club| %>
        <div class='card card--text'>
          <div class='card-body'>
            <%= button_to 'X', admin_activity_club_path(activity_club), class: 'btn btn-sm btn-outline-danger btn--no-padding px-1 edit-button', title: t_crud('delete', ActivityClub), method: :delete, 'data-confirm': t('are_you_sure') %>
            <%= link_to activity_club.activity.name, admin_activity_path(activity_club.activity) %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class='box'>
  <%= button_tag_open_modal new_admin_club_happening_path(@club) do %>
    <i class="demo-icon icon-plus" aria-hidden="true"></i>
    <%= t_crud('add_new', Happening) %>
  <% end %>
  <%= @datatable.render_html search_happenings_admin_club_path(@club, format: :json) %>
</div>
