<%
    breadcrumb
%>
<div class=''>
  <div class='text-center mt-2'>
    <h2>
      <%= t('where_are_you_going_on_the_weekend') %>
    </h2>
  </div>
  <div class='login-wrapper--max-width mx-auto'>
    <div class='login--max-width mx-auto bg-white shadow p-4'>
      <p><%= t('choose_place_and_activity') %></p>

      <%= bootstrap_form_with url: index_for_location_and_activities_happenings_path, method: :get, local: true do |f| %>
        <%
          all_cities = Venue.cities.select(
            <<~SQL
              venues.*,
              (
                SELECT COUNT(happenings.id) FROM happenings
                WHERE venue_id = venues.id
              ) AS happening_count
            SQL
          ).order(happening_count: :desc)
        %>
        <%= f.select :venue_id, "<option disabled='disabled'>#{t('please_select_item_name', item_name: Venue.human_attribute_name(:city))}</option>".html_safe + options_from_collection_for_select(all_cities, :id, :name), { hide_label: true }, required: true, 'data-select2-initialize': true, placeholder: t('please_select_item_name', item_name: Venue.human_attribute_name(:city)) %>
        <%= f.select 'activity_names[]', "<option disabled='disabled'>#{t('please_select_item_name', item_name: Activity.model_name.human)}</option>".html_safe + options_from_collection_for_select(Activity.all, :name, :name), { hide_label: true }, required: true, 'data-select2-initialize': true, placeholder: t('please_select_item_name', item_name: Activity.model_name.human) %>
        <%= f.hidden_field HappeningsForActivityNamesDatatable.form_field_name('happenings.start_date'), value: HappeningsForActivityNamesDatatable.range_string(Time.zone.today..(Time.zone.today + 1.year)) %>
        <%= f.submit t('search'), class: 'btn btn-success btn-block' %>
      <% end %>
    </div>
  </div>
</div>
