<div id='remote-form'>
  <% if @happening.new_record? %>
    <%= bootstrap_form_with url: parse_url_admin_happenings_path, layout: :horizontal, html: { 'data-controller': 'form'} do |f| %>
      <%= f.text_field :url, label: "Url <span class='d-none-opacity' data-target='form.processing'><i class='demo-icon icon-spin4 animate-spin'></i> fetching data...</span>".html_safe, placeholder: 'https://www.facebook.com/events/...', 'data-target': 'form.parameter', 'data-action': 'blur->form#submit_ajax_and_update change>form#submit_ajax_and_update keyup->form#submit_ajax_and_update' %>
    <% end %>
  <% end %>
  <%= bootstrap_form_for @happening, url: @happening.new_record? ? admin_club_happenings_path(@happening.club) : admin_happening_path(@happening), remote: true, layout: :horizontal do |f| %>
    <div class='row'>
      <div class='col-sm'>
        <%= f.text_field :name %>
        <%= f.date_field :start_date, help: !f.object.multi_day? && add_alternative_helper(Happening.human_attribute_name(:end_date), '#end_date') %>
        <div id='end_date' class='<%= 'd-none-display' unless f.object.multi_day? %>'>
          <%= f.date_field :end_date %>
        </div>
        <%= f.text_field :website %>
        <%= f.text_area :description %>
      </div>
      <div class='col-sm'>
        <%= render 'admin/venues/existing_or_new', f: f %>
      </div>
    </div>
    <div class='remote-form__actions'>
      <% unless @happening.new_record? %>
        <%= link_to admin_happening_path(@happening), method: :delete, 'data-confirm': t_are_you_sure_to_remove_item_name(@happening.name), title: t_crud('delete', Happening) do %>
          <i class="demo-icon icon-trash-empty text-danger" aria-hidden="true"></i>
        <% end %>
      <% end %>
      <%= f.submit class: 'btn btn-primary'%>
    </div>
  <% end %>
</div>
