<%
  breadcrumb Happening.model_name.human(count: 2) => admin_happenings_path, @happening.name => nil
%>
<div class='card'>
  <div class='card-body'>
    <%= button_tag_open_modal edit_admin_happening_path(@happening), title: t_crud('edit', Happening), pull_right: true %>
    <div class='row'>
      <div class='col-md'>
        <%= detail_view_list @happening, *(Happening::FIELDS - [:recurrence]) %>
        <%= detail_view_list do %>
          <%= detail_view_one Happening.human_attribute_name(:recurrence) do %>
            <%= @happening.recurrence.to_json %>
            <%= button_tag_open_modal edit_recurrence_admin_happening_path(@happening), title: t('edit_item_name', item_name: Happening.human_attribute_name(:recurrence)) %>
          <% end %>
        <% end %>
        <%= link_to @happening.club.name, admin_club_path(@happening.club) %>
      </div>
      <div class='col-md'>
        <%= link_to @happening.venue.name, admin_venue_path(@happening.venue) %>
        <div class='map map--300px'
             data-controller='google-map'
             data-google-map-latitude='<%= @happening.venue.latitude %>'
             data-google-map-longitude='<%= @happening.venue.longitude %>'
             data-action='google-map-callback@window->google-map#initMap'
             >
        </div>
      </div>
    </div>
  </div>
</div>
<%= button_tag_open_modal new_admin_happening_discipline_happening_path(@happening) do %>
  <i class="demo-icon icon-plus" aria-hidden="true"></i>
  <%= t_crud('add_new', DisciplineHappening) %>
<% end %>
<div class='card-deck'>
  <% @happening.discipline_happenings.each do |discipline_happening| %>
    <div class='card card--text mb-4'>
      <div class='card-body'>
        <%= button_tag_open_modal edit_admin_discipline_happening_path(discipline_happening), title: t_crud('edit', DisciplineHappening), pull_right: true %>
        <%= detail_view_list discipline_happening, *(DisciplineHappening::FIELDS - [:price_without_discount_cents]), skip_blank: :all %>
        <% discipline_happening.discipline_happening_tags.each do |discipline_happening_tag| %>
          <span class='badge badge-primary'><%= discipline_happening_tag.tag.name %></span>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
