<% login_layout %>

<% if Rails.env.development? || Rails.application.credentials.is_staging %>
  <small>
    Only on development or staging
    <dl>
      <dt>superadmin</dt>
      <dd>
        <% User.where(superadmin: true).each do |user| %>
          <%= link_to user.email, sign_in_development_path(user) %>
        <% end %>
      </dd>
      <dt>users</dt>
      <dd>
        <% User.where('email LIKE :email', email: '%email.com').each do |user| %>
          <%= link_to user.email, sign_in_development_path(user) %>
        <% end %>
      </dd>
    </dl>
  </small>
<% end %>

<% if devise_mapping.omniauthable? %>
  <%= t('sign_up_with') %>
  <%= link_to user_google_oauth2_omniauth_authorize_path, class: 'btn' do %>
    <i class="demo-icon icon-google" aria-hidden="true"></i>
  <% end %>
  <%= link_to user_facebook_omniauth_authorize_path, class: 'btn' do %>
    <i class="demo-icon icon-facebook-official" aria-hidden="true"></i>
  <% end %>

  <div class='text-center'>
  - <%= t('or') %> - 
  </div>
<% end %>

<%= bootstrap_form_for resource, as: resource_name, url: session_path(resource_name)  do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <%= f.email_field :email, autofocus: true, required: true %>

  <%= f.password_field :password, required: true %>

  <% if devise_mapping.rememberable? %>
    <%= f.check_box :remember_me, inline: true %>
  <% end %>

  <%= f.submit t('my_devise.sign_in') %>
<% end %>

<%= render 'devise/shared/links' %>
