<%
  breadcrumb User.model_name.human(count: 2) => nil
%>

<%= button_tag_open_modal new_admin_user_path do %>
  <i class="demo-icon icon-plus" aria-hidden="true"></i>
  <%= t_crud('add_new', User) %>
<% end %>
<br>
<% @users.each do |user| %>
  <%= link_to user.name, admin_user_path(user) %>
  <%= link_to sign_in_development_path(user), class: 'btn btn-primary' do %>
    <%= t('log_in_as') %>
    <%= user.email %>
  <% end %>
  <br>
<% end %>
