<a class='nav-link dropdown-toggle <%= 'p-0' unless login_layout? %>' href='#' id='navbarDropdown' role='button' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false' data-test='language-holder'>
  <%= t 'emoji' %>
</a>
<div class="dropdown-menu dropdown-menu--without-min-width" aria-labelledby="navbarDropdown">
  <% I18n.available_locales.each do |locale| %>
    <%= link_to set_locale_path(locale: locale), 'data-turbolinks': false, class: 'dropdown-item' do %>
      <%= t 'emoji', locale: locale %>
      <%= t('language_name', locale: locale) %>
    <% end %>
  <% end %>
</div>
