<% if notice.present? %>
  <div data-controller='flash' data-flash-message='<%= j notice %>'>
    <div data-test='notice-holder' class='d-none-display'><%= notice %></div>
    <button class='flash-notice-alert-jbox__repeat' data-action='flash#show' title='<%= t('last_message') %>'><i class="demo-icon icon-cw"></i></button>
  </div>
<% end %>
<% if alert.present? %>
  <div data-controller='flash' data-flash-message='<%= j alert %>' data-flash-alert='true'>
    <div data-test='alert-holder' class='d-none-display'><%= alert %></div>
    <button class='flash-notice-alert-jbox__repeat' data-action='flash#show' title='<%= t('last_message') %>'><i class="demo-icon icon-cw"></i></button>
  </div>
<% end %>
