<!DOCTYPE html>
<html lang='<%= I18n.locale %>' android-app='<%= android_app? %>'>
  <head>
    <title><%= Const.common[:name] %>: <%= fetch_title %></title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if no_cache? %>
      <meta name="turbolinks-cache-control" content="no-cache">
    <% end %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Google Font is disabled since emoji is not included in chrome %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  </head>

  <body class='
    <%= 'body__sticky-footer--wrapper' unless login_layout? %>
    <%# <%= 'bg-success' if Rails.application.credentials.is_staging %1> %>
    '>
    <% if login_layout? %>
      <%= render 'layouts/login_layout' %>
    <% else %>
      <% if current_user.present? %>
        <%= render 'layouts/sidebar' %>
      <% end %>
      <%= render 'layouts/breadcrumb' %>

      <div class='d-flex align-items-stretch body__content'>
        <div class='pt-2 px-3 body__content_without_left-navigation'>
          <%= yield %>
          <% if Const.common[:show_ads] %>
            <div class='card p-1 mt-3 mb-1 text-center d-sm-none navigation-on-the-side--max-width mx-auto'>
              <h2><%= t('ad_on_side') %></h2>
              <p>
                <%= t('ad_on_side_description') %>
                <%= link_to t('get_in_touch'), contact_path %>
              </p>
            </div>
          <% end %>
        </div>
        <%= render 'layouts/navigation', on_the_side: true %>
      </div>

      <%= render 'layouts/navigation' %>
    <% end %>
    <%= render 'layouts/flash_notice_alert_jbox' %>
  </body>
</html>
